body {background-color: pink;
      border: 10px solid #A3D8FF;
      font-style: Times New Roman;
      border-radius: 5px; 
      margin-left: 11px;
      margin-right: 11px;
      
}

nav ul {list-style-type: none;
       
}

nav ul li {display: inline;
}